<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加</title>
    <link rel="stylesheet" href="/today/public/ps.css">
    <link rel="stylesheet" href="/today/public/add.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_791326_t1qn6a5529g.css">

</head>
<body>
<header>
    <div class="container">
        <div class="return"><a href="/today/index.php?r=index"><i class="iconfont icon-fanhui"></i></a></div>
        <div class="you-want">频道管理</div>
    </div>
</header>
<div class="del">
    <div class="click"><span>点击删除频道</span></div>
    <ul>
        <li><a href="">推荐</a></li>
        <li><a href="">电影</a></li>
    </ul>
</div>
<div class="add">
    <div class="cli"><span>点击添加频道</span></div>
    <ul>

        <li><a href="">探索</a></li>
    </ul>

</div>
</body>
</html>