<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/today/public/search.css">
    <link rel="stylesheet" href="/today/public/ps.css">
    <title>搜索</title>
</head>
<body>
<div class="title">搜索
    <span class="backbtn">
        <a href="/today/index.php?r=index" class="back"></a>
    </span>
</div>
<div class="search">
        <a href="" class="type"></a>
        <input type="text" id="input" placeholder="请输入搜索关键词">

</div>
</body>
</html>