<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>video</title>
    <link rel="stylesheet" href="/today/public/video.css">
    <link rel="stylesheet" href="/today/public/ps.css">

</head>
<body>
<div class="box">
</div>

<div class="interesting ">
    <div class="fou"><span>x</span></div>
    <div class="pi"><img src="/today/img/2018-08-15_085605.png" alt=""></div>
    <div class="more"><p>已加载好您感兴趣的头条</p></div>
    <div class="open">立即打开</div>
</div>
<header>

    <div class="left">
        <div class="spot"></div>
    </div>
    <div class="mid"><i class="iconfont icon-shuaxin"></i></div>
    <div class="right"></div>
</header>
<div class="title">
    <div class="con">

        <ul class="big-box">
            <li><a href="/today/index.php?r=index">推荐</a></li>
            <li><a href="javascript:void(0)" class="active">视频</a></li>
            <li><a href="javascript:void(0)">热点</a></li>
            <li><a href="javascript:">社会</a></li>
            <li><a href="javascript:void(0)">娱乐</a></li>
            <li><a href="javascript:void(0)">军事</a></li>
            <li><a href="javascript:void(0)">科技</a></li>
            <li><a href="javascript:void(0)">汽车</a></li>
            <li><a href="javascript:void(0)">体育</a></li>
            <li><a href="javascript:void(0)">财经</a></li>
            <li><a href="javascript:void(0)">国际</a></li>
            <li><a href="javascript:void(0)">时尚</a></li>
        </ul>
        <div class="recommend">
            <p>为你推荐10篇文章</p>
        </div>
    </div>
    <div class="right"><a href="/today/index.php?r=add">+</a></div>
</div>
<main>
    <div class="banner">
        <a href="javascript:void(0)">

            <div class="pict"><h3>3任所长、4任教导员“警察爸爸”爱心接力11年</h3>
                <img src="/today/img/playicon_video@3x_dcf536ff.png" alt="">
            </div>
            <div class="talk">
                <span>紫金山视频</span>
                <span>评论  14</span>
                <span>1小时前</span>
            </div>
        </a>
    </div>

    <div class="ne">
        <a href="javascript:void(0)">
            <h3>
            青春不等待狂欢购车季，奇瑞818厂家超值抢购惠香山站
            </h3>

            <div class="pict"></div>
            <div class="talk">
                <span>香山奇瑞</span>
                <span>评论  14</span>
                <span>1小时前</span>
            </div>
        </a>

    </div>

</main>
</body>
</html>